USE [BD_ETIQUETAS]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CATEGORIA] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TBL_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CODIGO_BARRAS]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CODIGO_BARRAS](
	[ID_CODIGO_BARRAS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CODE_BAR] [nvarchar](50) NOT NULL,
	[ETIQUETA_ZPL] [nvarchar](max) NOT NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TBL_CODIGO_BARRAS] PRIMARY KEY CLUSTERED 
(
	[ID_CODIGO_BARRAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_IMPRESION]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_IMPRESION](
	[ID_IMPRESION] [int] IDENTITY(1,1) NOT NULL,
	[ID_CODIGO_BARRAS] [int] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[FECHA_ALTA] [datetime] NOT NULL,
	[ID_LOGIN] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[IMPRESO] [bit] NOT NULL,
	[NUM_CODE_BAR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_IMPRESION] PRIMARY KEY CLUSTERED 
(
	[ID_IMPRESION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOGIN]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOGIN](
	[ID_LOGIN] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDOS] [nvarchar](50) NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](150) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[ACTIVO] [bit] NULL,
	[ID_ROL] [int] NOT NULL,
 CONSTRAINT [PK_TBL_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [nvarchar](100) NOT NULL,
	[PRECIO] [decimal](18, 2) NOT NULL,
	[ID_SUB_CATEGORIA] [int] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUB_CATEGORIA]    Script Date: 02/02/2024 08:09:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUB_CATEGORIA](
	[ID_SUB_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_SUBCATEGORIA] [varchar](50) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID_SUB_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] ON 

INSERT [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA], [NOM_CATEGORIA]) VALUES (1, N'Abarrotes')
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CODIGO_BARRAS] ON 

INSERT [dbo].[TBL_CODIGO_BARRAS] ([ID_CODIGO_BARRAS], [NOMBRE_CODE_BAR], [ETIQUETA_ZPL], [ACTIVO]) VALUES (1, N'Code128', N'^XA\r\n^MMT\r\n^PW567\r\n^LL0184\r\n^LS0\r\n^BY3,3,76^FT459,92^BCI,,Y,N\r\n^FD>;[numcodebar]^FS\r\n^PQ1,0,1,Y^XZ\r\n', 1)
INSERT [dbo].[TBL_CODIGO_BARRAS] ([ID_CODIGO_BARRAS], [NOMBRE_CODE_BAR], [ETIQUETA_ZPL], [ACTIVO]) VALUES (13, N'Etiqueta con Precio', N'"^XA\r\n^MMT\r\n^PW567\r\n^LL0184\r\n^LS0\r\n^FT536,148^A0I,31,31^FH\\^FD[nomprod]^FS\r\n^BY3,3,68^FT456,67^BCI,,Y,N\r\n^FD>;[numcodbar]^FS\r\n^FT164,145^A0I,31,31^FH\\^FD[precio]^FS\r\n^PQ1,0,1,Y^XZ\r\n"', 0)
SET IDENTITY_INSERT [dbo].[TBL_CODIGO_BARRAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_IMPRESION] ON 

INSERT [dbo].[TBL_IMPRESION] ([ID_IMPRESION], [ID_CODIGO_BARRAS], [ACTIVO], [ID_PRODUCTO], [FECHA_ALTA], [ID_LOGIN], [CANTIDAD], [IMPRESO], [NUM_CODE_BAR]) VALUES (365, 1, 0, 14, CAST(N'2024-01-31T15:10:06.793' AS DateTime), 2, 1, 1, N'012029154213')
INSERT [dbo].[TBL_IMPRESION] ([ID_IMPRESION], [ID_CODIGO_BARRAS], [ACTIVO], [ID_PRODUCTO], [FECHA_ALTA], [ID_LOGIN], [CANTIDAD], [IMPRESO], [NUM_CODE_BAR]) VALUES (366, 1, 0, 162, CAST(N'2024-01-31T15:08:49.137' AS DateTime), 2, 1, 0, N'013586735428')
INSERT [dbo].[TBL_IMPRESION] ([ID_IMPRESION], [ID_CODIGO_BARRAS], [ACTIVO], [ID_PRODUCTO], [FECHA_ALTA], [ID_LOGIN], [CANTIDAD], [IMPRESO], [NUM_CODE_BAR]) VALUES (367, 1, 0, 163, CAST(N'2024-01-31T15:09:02.920' AS DateTime), 2, 3, 0, N'016974244389')
SET IDENTITY_INSERT [dbo].[TBL_IMPRESION] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_LOGIN] ON 

INSERT [dbo].[TBL_LOGIN] ([ID_LOGIN], [NOMBRE], [APELLIDOS], [USUARIO], [PASSWORD], [EMAIL], [TELEFONO], [ACTIVO], [ID_ROL]) VALUES (2, N'Javier', N'Hernandez', N'jhernandez', N'@Escu1234', N'emailgo@gmail.com', N'5578564321', 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_LOGIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTO] ON 

INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [ID_SUB_CATEGORIA], [ACTIVO]) VALUES (5, N'ABLANDADOR DE CARNE MC CORMICK 12/155 GR', CAST(158.22 AS Decimal(18, 2)), 20, 1)
INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [ID_SUB_CATEGORIA], [ACTIVO]) VALUES (6, N'ACEITE 1-2-3 12/1 LT', CAST(271.39 AS Decimal(18, 2)), 18, 1)
INSERT [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [ID_SUB_CATEGORIA], [ACTIVO]) VALUES (7, N'ACEITE COLON VEGETAL 12/890 ML', CAST(199.73 AS Decimal(18, 2)), 18, 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_SUB_CATEGORIA] ON 

INSERT [dbo].[TBL_SUB_CATEGORIA] ([ID_SUB_CATEGORIA], [NOM_SUBCATEGORIA], [ID_CATEGORIA]) VALUES (2, N'Bebidas', 1)
INSERT [dbo].[TBL_SUB_CATEGORIA] ([ID_SUB_CATEGORIA], [NOM_SUBCATEGORIA], [ID_CATEGORIA]) VALUES (3, N'Botanas', 1)
INSERT [dbo].[TBL_SUB_CATEGORIA] ([ID_SUB_CATEGORIA], [NOM_SUBCATEGORIA], [ID_CATEGORIA]) VALUES (4, N'Café & Complementos', 1)
SET IDENTITY_INSERT [dbo].[TBL_SUB_CATEGORIA] OFF
GO
ALTER TABLE [dbo].[TBL_IMPRESION]  WITH CHECK ADD  CONSTRAINT [FK1_TBL_IMPRESION_TBL_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_IMPRESION] CHECK CONSTRAINT [FK1_TBL_IMPRESION_TBL_PRODUCTO]
GO
ALTER TABLE [dbo].[TBL_IMPRESION]  WITH CHECK ADD  CONSTRAINT [FK2_TBL_IMPRESION_TBL_LOGIN] FOREIGN KEY([ID_LOGIN])
REFERENCES [dbo].[TBL_LOGIN] ([ID_LOGIN])
GO
ALTER TABLE [dbo].[TBL_IMPRESION] CHECK CONSTRAINT [FK2_TBL_IMPRESION_TBL_LOGIN]
GO
ALTER TABLE [dbo].[TBL_IMPRESION]  WITH CHECK ADD  CONSTRAINT [FK3_TBL_IMPRESION_TBL_CODIGO_BARRAS] FOREIGN KEY([ID_CODIGO_BARRAS])
REFERENCES [dbo].[TBL_CODIGO_BARRAS] ([ID_CODIGO_BARRAS])
GO
ALTER TABLE [dbo].[TBL_IMPRESION] CHECK CONSTRAINT [FK3_TBL_IMPRESION_TBL_CODIGO_BARRAS]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK2_TBL_PRODUCTO_TBL_SUB_CATEGORIA] FOREIGN KEY([ID_SUB_CATEGORIA])
REFERENCES [dbo].[TBL_SUB_CATEGORIA] ([ID_SUB_CATEGORIA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK2_TBL_PRODUCTO_TBL_SUB_CATEGORIA]
GO
ALTER TABLE [dbo].[TBL_SUB_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK1_TBL_SUB_CATEGORIA_TBL_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[TBL_SUB_CATEGORIA] CHECK CONSTRAINT [FK1_TBL_SUB_CATEGORIA_TBL_CATEGORIA]
GO
